
#testc{
  font-size: 30px;
}
#header{
  padding-top: 10px;
  margin-left: 50px;
}

#question {
height: 100%;
width: 100%;
}

.QuestionContainer {
    margin-left: 70px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#questionNumber {
    margin-top: 40px;
    font-size: 20px;
}

input {

}

.form-control#question1{
    height: 54px;
}

#scroll {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: white;
}



#header {
    margin-top: 30px;
    padding-left: 40px;
}

#desc {
    padding-right: 30px;
    margin-right: 70px;
}

.row {
  width:300px;
}


  #a {
    display: inline-block;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  text-align: center;
  color:white;
  padding-top: 30px;
  width:300px;
  height: 150px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 20px;


  }


  #b {
    display: inline-block;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    text-align: center;
    color:white;
    padding-top: 30px;
    width:300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
  }

#question {
  text-align: center;
  font-size: 25px;
  margin-top: 141px;
  margin-bottom: 141px;

  }

  #c {
    display: inline-block;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  text-align: center;
  color:white;
  padding-top: 30px;
  width:300px;
  height: 150px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  position: fixed;
  bottom: 20px;

  }

  #d {
    display: inline-block;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    text-align: center;
    color:white;
    padding-top: 30px;
    width:300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 20px;
    float: right;
    position: fixed;
    bottom: 20px;;
    right: 0;
  }

  #Home {
    display: inline-block;
    margin-left: 12%;
    border-radius: 28px;
    height:50px;
    width: 100px;
    margin-top:20px;
    position: fixed;
    bottom: 50px;;
    left: 250px;

  }


@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
body{
  margin:0px ;
  color:black;
}
#Finish{
  background: #ECECEC;
  border-radius: 15px;
  display: block;
  font-family: arial;
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  border:1px solid #a7a7a7;
  width: 145px;
  margin:0px auto;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
  height: 50px;
  position: fixed;
  right:400px;
  bottom: 80px;
}
#Home {
  background: #ECECEC;
  border-radius: 15px;
  padding: 10px 20px;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  border:1px solid #a7a7a7;
  width: 145px;
  margin:30px auto;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
  position: fixed;
  left: 400px;
}

#results {
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  font:60px Georgia, Garamond, Serif
}

#score {
    font:45px Georgia, Garamond, Serif
}
#home2 {
  margin-right: 10px;
}

#testcontent{
  font-size: 10px;
}

.floating-box {
    float: left;
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    font-size: 20px;
}
