
#question {
height: 100%;
width: 100%;
}

#a {
  background-color: lightblue;
  height:100px;
  color:white;
  padding-top: 15px;
  margin-bottom: 200px;

}
#b {
  background-color: lightblue;
  height:100px;
  color:white;
  padding-top: 15px;
  margin-bottom: 200px;
}
#c {
  background-color: lightblue;
  height:100px;
  color:white;
  padding-top: 15px;
  margin-top: 200px;
}
#d {
  background-color: lightblue;
  height:100px;
  color:white;
  padding-top: 15px;
  margin-top: 200px;
}

#questionid {
  font-size: 24px;
  margin-bottom
}

#homebutton {
  margin-top: 225px;
  height: 50px;
  width: 100px;
}

#finishbutton {
  margin-top: 225px;
  height: 50px;
  width: 100px;
}

#progressBar {
  width: 450px;
}

button{
  margin-top: 20px;
}

.QuestionContainer {
    margin-left: 20px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 40px;

}

#questionNumber {
    margin-top: 40px;
}

input {

}

.form-control#question1{
    height: 54px;
}

#scroll {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: white;
}



#header {
    margin-top: 30px;
    padding-left: 40px;
}

#desc {
    padding-right: 30px;
    margin-right: 70px;
}

body {
}

#questionshow{
  margin-top: 10px;
  
}
