doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .jumbotron.text-center
      h1 Quiz App
      form(action="/views/main", method="post")
        span.form-group
          label(for='username') Username:
          input#username.form-inline(type='username', name = 'username', placeholder='Enter Username')
        button.btn.btn-default.btn-sm(type='submit') Submit

    .container.text-center
      img.img-rounded(src='http://www.bc.edu/publications/chronicle/FeaturesNewsTopstories/2011/features/gasson090811/_jcr_content/newscontent/textimage/image.img.jpg', width='600', height='350')
