doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test-X. Test-Creation Page
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/views/stylesheets/Final.css')
    style
      include css/font-awesome.min.css
      include css/style.default.css
      include stylesheets/quizzes.css
  body
    #header
      h2#testc(style='font:10px') Test Creation Page
      p#desc(style='margin-right:30%;')
        | Enter five questions below, and four multiple choice answer options. Selection which answer option(s) you'd like to mark as correct. Then click "done" to run the test! At the end, you will be brought to a statistics page, and have the option of running making a new test or running the same test again.
    .QuestionContainer
      #scroll(style='height:400px;width:820px;border:1px solid #ccc;font:12px/16px Georgia, Garamond, Serif;overflow:auto; box-shadow: 5px 5px 14px #888888;')
        h3#questionNumber Question #1
        form#name-form(action="/views/quizzes", method="post")
          .form-group
            label#q(form='question') Question:
            input#question1.form-control(type='question',name = 'question', placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked1')
                |  Correct Answer?
            input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceB.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked2')
                |  Correct Answer?
            input#ans2.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceC.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked3')
                |  Correct Answer?
            input#ans3.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceD.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked4')
                |  Correct Answer?
            input#ans4.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          h3#questionNumber Question #2
          .form-group
            label(form='question') Question:
            input#question1.form-control(type='question', name = 'question', placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked5')
                |  Correct Answer?
            input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceB.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked6')
                |  Correct Answer?
            input#ans2.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceC.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked7')
                |  Correct Answer?
            input#ans3.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceD.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked8')
                |  Correct Answer?
            input#ans4.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          h3#questionNumber Question #3
          .form-group
            label(form='question') Question:
            input#question1.form-control(type='question', name = 'question',placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked9')
                |  Correct Answer?
            input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceB.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked10')
                |  Correct Answer?
            input#ans2.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceC.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked11')
                |  Correct Answer?
            input#ans3.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceD.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked12')
                |  Correct Answer?
            input#ans4.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          h3#questionNumber Question #4
          .form-group
            label(form='question') Question:
            input#question1.form-control(type='question',name = 'question', placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked13')
                |  Correct Answer?
            input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceB.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked14')
                |  Correct Answer?
            input#ans2.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceC.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked15')
                |  Correct Answer?
            input#ans3.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceD.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked16')
                |  Correct Answer?
            input#ans4.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          h3#questionNumber Question #5
          .form-group
            label(form='question') Question:
            input#question1.form-control(type='question',name = 'question', placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked17')
                |  Correct Answer?
            input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceB.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked18')
                |  Correct Answer?
            input#ans2.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceC.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked19')
                |  Correct Answer?
            input#ans3.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          #choiceD.form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked20')
                |  Correct Answer?
            input#ans4.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
            button#done.btn.btn-default.pull-right.btn-lg(type='submit') Done
