doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='/stylesheets/Final.css', rel='stylesheet')
    style
      include stylesheets/Final.css

  body
    .QuestionContainer
      h2#questionNumber Question 1
      form(action="/views/quizzes", method="post")
        .form-group
          label(form='question') Question:
          input#question1.form-control(type='question', name = 'question', placeholder='Enter question')
        .form-group
          label(for='Answer') Answer:
          span.checkbox
            label
              input(type='checkbox', name='chk_checked1', checked='{{checkedValue}}')
              |  Correct Answer?
          input#ans1.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
        .form-group
          label(for='Answer') Answer:
          span.checkbox
            label
              input(type='checkbox', name='chk_checked2', checked='{{checkedValue}}')
              |  Correct Answer?
          input#ans2.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
        .form-group
          label(for='Answer') Answer:
          span.checkbox
            label
              input(type='checkbox', name='chk_checked3', checked='{{checkedValue}}')
              |  Correct Answer?
          input#ans3.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
        .form-group
          label(for='Answer') Answer:
          span.checkbox
            label
              input(type='checkbox', name='chk_checked4', checked='{{checkedValue}}')
              |  Correct Answer?
          input#ans4.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
        .QuestionContainer
          h2#questionNumber Question 2
          .form-group
            label(form='question') Question:
            input#question2.form-control(type='question', name = 'question', placeholder='Enter question')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked5', checked='{{checkedValue}}')
                |  Correct Answer?
            input#ans5.form-control(type='Answer', name = "answer", placeholder='Enter possible answer')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked6', checked='{{checkedValue}}')
                |  Correct Answer?
            input#ans6.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked7', checked='{{checkedValue}}')
                |  Correct Answer?
            input#ans7.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
          .form-group
            label(for='Answer') Answer:
            span.checkbox
              label
                input(type='checkbox', name='chk_checked8', checked='{{checkedValue}}')
                |  Correct Answer?
            input#ans8.form-control(type='Answer',  name = "answer", placeholder='Enter possible answer')
          button.btn.btn-default.btn-sm(type='submit') Done

      script
        include javascript/Final.js
