doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='/stylesheets/Final.css', rel='stylesheet')
    link(href='/javascript/Final.js', type='text/javascript')
    style
      include stylesheets/Final.css
    script
      include javascript/Final.js
    script.
      var finaltest = !{JSON.stringify(ftests)}
      var len = finaltest.length - 1;
      var user = finaltest[len].username;

      function questionContent() {
        $('#q1').html(finaltest[len].questions[0][0]);
        $('#ans1').html(finaltest[len].questions[0][1]);
        $('#ans2').html(finaltest[len].questions[0][2]);
        $('#ans3').html(finaltest[len].questions[0][3]);
        $('#ans4').html(finaltest[len].questions[0][4]);
      }

    body(onload='questionContent()')
        .container
          header#results Results
          h3#score Score: correct / 5
          h4 What went wrong:
            p#testcontent
              #q1(style='font-size:')
              #ans1  a
              #ans2  b
              #ans3  c
              #ans4  d


          button.btn.btn-default.btn-lg#home2(type='home', onclick=' home()') Home
          button.btn.btn-default.btn-lg(type='tryagain', onclick=' tryagain()') Try Again?
          !{JSON.stringify(ftests)}
