doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test-X. Test Running ...
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='/stylesheets/Final.css', rel='stylesheet')
    link(href='/javascript/Final.js', type='text/javascript')
    style
      include stylesheets/Final.css

    script.
      var tests = !{JSON.stringify(tests)}
      var len = tests.length - 1;
      console.log(tests);
      console.log(tests[len].questions[1][0]);

      var xxx = 0;
      var correct = 0;

      function finish() {
        localStorage.setItem("correct", correct);
        location.href = "results";
      }

      localStorage.setItem("correct", correct);

      function answerContent(correct){
      $('#correct').html(correct + "/5");
      }

      function questionContent() {
        $('#question').html(tests[len].questions[0][0]);
        $('#a').html(tests[len].questions[0][1]);
        $('#b').html(tests[len].questions[0][2]);
        $('#c').html(tests[len].questions[0][3]);
        $('#d').html(tests[len].questions[0][4]);
      }

      function isInArray(value, array) {
        return array.indexOf(value) > -1;
      }

      function nextQuestion(number) {
      var clicked = $(event.currentTarget).attr('id');
      var answerArray1 = tests[len].correct.slice(0,3);
      var answerArray2 = tests[len].correct.slice(4,7);
      var answerArray3 = tests[len].correct.slice(8,11);
      var answerArray4 = tests[len].correct.slice(12,15);
      var answerArray5 = tests[len].correct.slice(16,19);
      console.log(clicked);
      if (xxx == 0) {
      if (isInArray(clicked, answerArray1)) {
      console.log("hi");
      correct++;
      }
      }
      if (xxx == 1) {
      if (isInArray(clicked, answerArray2)) {
      correct++;
      }
      }
      if (xxx == 2) {
      if (isInArray(clicked, answerArray3)) {
      correct++;
      }
      }
      if (xxx == 3) {
      if (isInArray(clicked, answerArray4)) {
      correct++;
      }
      }
      if (xxx == 4) {
      if (isInArray(clicked, answerArray5)) {
      correct++;
      }
      finish();
      }
      else {
        xxx = xxx+1;
        $('#question').html(tests[len].questions[xxx][0]);
        $('#a').html(tests[len].questions[xxx][1]);
        $('#b').html(tests[len].questions[xxx][2]);
        $('#c').html(tests[len].questions[xxx][3]);
        $('#d').html(tests[len].questions[xxx][4]);
        return xxx, correct;
      }
      }
      function home() {
        location.href = "main";
      }

  body(onload='questionContent()')
  #row1
  #a(onclick='nextQuestion(xxx)')  a
  #b(onclick='nextQuestion(xxx)')  b
  #question  Question
  #c(onclick='nextQuestion(xxx)')  c
  button#Home(onclick='home()')  Home
  button#Finish(onclick='finish()')  Finish
  a.button(href='#')
  i.icon-chevron-right
  #d(onclick='nextQuestion(xxx)')  d
